<%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>

        <section id="main-content" class="grey lighten-1">
            <div class="container">
                <div class="row">
                    <div class="main-banner-left col l6 s12">
                        <div class="materials-label">
                            <h1>Doe materiais escolares <span>na sua região </span></h1>
                        </div>

                        <%- include("./components/autocomplete.ejs") %>

                    </div>
                    <div class="main-banner-right col l6 s12">
                        <img class="responsive-img" src="assets/main-banner.png" alt="Mochi Logo" />
                    </div>
                </div>
            </div>
        </section>

        <section class="container">

            <h1 class="my blue-grey-text"><b>Escolas com maior necessidade de doações:</b></h1>

            <div class="row">
                <!--Add cards-->
                <%- include("./components/cards-demo.ejs")%>
                    <%- include("./components/cards-demo.ejs")%>
                        <%- include("./components/cards-demo.ejs")%>
            </div>

        </section>


        <%- include("./partials/footer.ejs") %>