<%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>

        <div class="container">

            <form action="/cadastro" class="row form-control">

                <div class="col s12">
                    <div class="card-panel z-depth-3">

                        <!-- Circles which indicates the steps of the form: -->
                        <div style="text-align:right;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>

                        <!-- One "tab" for each step in the form: -->
                        <div class="tab">
                            <div class="row">
                                <h3 class="mb blue-grey-text"><b>Dados do responsável</b></h3>

                                <% if (fields[0].length) { %>
                                    <% fields[0].forEach(guardian=> { %>

                                        <div class="input-field col l6 s12">
                                            <input type="<%= guardian.type %>" name="<%= guardian.name %>"
                                                id="<%= guardian.id %>" placeholder="<%= guardian.placeholder %>"
                                                class="validate">

                                            <label for="<%= guardian.name %>">
                                                <%= guardian.label %>
                                            </label>
                                        </div>

                                        <% }) %>
                                            <% } %>

                            </div>
                        </div>

                        <div class="tab">
                            <div class="row">
                                <h3 class="mb blue-grey-text"><b>Dados do estudante</b></h3>
                                <% fields[1].forEach(student=> { %>
                                    <% if (String(student.name)=="std_grade" ) { %>
                                        <div class="input-field col l6 s12">
                                            <select id="<%= student.id %>">
                                                <option value="" disabled selected><%= student.label %></option>
                                                <% student.options.forEach(grade=> { %>
                                                    <option value="<% grade.toString() %>"><%= grade.toString() %></option>
                                                    <% }) %>
                                            </select>

                                            <label>
                                                <%= student.label %>
                                            </label>
                                        </div>
                                        <% } else { %>
                                            <div class="input-field col l6 s12">
                                                <input type="<%= student.type %>" name="<%= student.name %>"
                                                    id="<%= student.id %>" placeholder="<%= student.placeholder %>"
                                                    class="validate">

                                                <label for="last_name">
                                                    <%= student.label %>
                                                </label>
                                            </div>
                                            <% } %>
                                                <% }) %>

                                                    <% if (fields[2].length) { %>
                                                        <% fields[2].forEach((school)=> { %>
                                                            <div class="input-field col l6 s12">
                                                                <input type="<%= school.type %>"
                                                                    name="<%= school.name %>" id="<%= school.id %>"
                                                                    placeholder="<%= school.placeholder %>"
                                                                    class="<%= school.class %> validate">
                                                                <label for="">
                                                                    <%= school.label %>
                                                                </label>
                                                            </div>
                                                            <% }) %>
                                                                <% } %>

                                                                    <input type="hidden" name="city_id" id="city_id">
                                                                    <input type="hidden" name="school_id" id="school_id">
                            </div>
                        </div>

                        <div class="tab">
                            <div class="row">
                                <h3 class="mb blue-grey-text"><b>O que falta na sua mochila?</b></h3>

                                <div class="col s12" id="scroll">
                                    <ul class="collection">
                                        <% if (materials.length) { %>
                                            <% materials.forEach(material=> { %>
                                                <li id="<%= material.Codigo %>"
                                                    onclick="select('<%= material.Codigo %>')"
                                                    class="collection-item avatar">

                                                    <img src="<%= material.image %>" alt="" class="circle">

                                                    <h6><b>
                                                            <%= material.Grupo %>
                                                        </b>
                                                    </h6>

                                                    <label class="secondary-content">
                                                        <input id="input_<%= material.Codigo %>" type="checkbox" onclick="select('<%= material.Codigo %>')" name="<%= material.Codigo %>" autocomplete="off" />
                                                        <span></span>
                                                    </label>
                                                </li>
                                            <% }) %>
                                        <% } %>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div style="float: left; margin-top: 25px;">

                        <button type="button" class="waves-effect waves-light btn-flat" id="prevBtn"
                            onclick="nextPrev(-1)">Anterior</button>

                        <button type="button" class="waves-effect waves-light btn-large amber" id="nextBtn"
                            onclick="nextPrev(1)">Próximo</button>

                        <button type="button" class="waves-effect waves-light btn-large light-green darken-1 white-text" id="validateBtn">Validar escola</button>

                        <button type="submit" class="waves-effect waves-light btn-large amber" id="submitBtn" onclick="event.preventDefault();registerForm()" name="action">Enviar    
                        </button>

                    </div>

                </div>

            </form>

        </div>

        <%- include("./components/modal-success.ejs") -%>
        <%- include("./partials/footer.ejs") -%>
        
        