<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<section class="container">
    <h1>Escolas precisando de doações em:</h1>
    <h2>Cidade - UF</h2>

    <div class="row my">
        <!--Add cards-->
        <%- include("./components/cards.ejs") %>
        <%- include("./components/cards.ejs") %>
        <%- include("./components/cards.ejs") %>
    </div>
</section>

<%- include("./partials/footer.ejs") %>