<%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>

        <section class="container">


            <div class="row my">
                <div class="col s6">
                    <p><a href="/">Inicio</a> > <b>Escolas</b></p>
                    <h1 class="text-medium">Escolas precisando de doações em:</h1>
                    <h2 class="text-bold blue-grey-text">
                        <%=c_name%>
                    </h2>
                </div>
                <div class="col s6">

                    <%- include("./components/autocomplete.ejs") %>

                </div>
            </div>

            <div class="row my">
                <% if (students[0] !=null) { %>
                    <% students.forEach((student)=> { %>
                        <%-include( "./components/cards.ejs" , {std:student,city:c_name,c_id:c_id, ttl:totalStudents})%>
                            <% }) %>
                                <% } else { %>
                                    <h3> As mochilas desta escola não estão precisando de materiais. </h3>
                                    <% } %>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>